body{
    font-size: 20px;
    font-family: "Oswald";
}
.list{
    background-color: lightblue;
    border-radius: 5px;
    border-bottom: 100px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    width: fit-content;
}
h3{
    color: #143D69;
    text-align: center;
    font-size: 25px;
}
td{
    width: 10cm;
    text-align: justify;
    text-indent: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
th{
    color: rgb(20, 61, 104);
    font-size: 25px;
}
ul{
    list-style-position: inside;
}
li{
    list-style-type: none;
    padding: 5px;
}
li::before{
    content: "·";
}
.Info{
    display: inline-block;
    text-align: right;
    padding-right: 500px;
}
div#titul{
    position: relative;
}
.titul{
    position: absolute;
    top: 25%;
    left: 10%;
    width: 350px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
p{
    font-size: 18px;
}
.final{
    font-size: 22px;
}